version: 2
updates:
- package-ecosystem: gomod
  directory: /acceptance-tests
  schedule:
    interval: weekly
    day: "monday"
    time: "09:00"
    timezone: "Europe/Berlin"
- package-ecosystem: pip
  directory: /ci/scripts
  schedule:
    interval: weekly
    day: "monday"
    time: "09:00"
    timezone: "Europe/Berlin"
- package-ecosystem: gomod
  directory: /acceptance-tests
  target-branch: "maintenance"
  schedule:
    interval: weekly
    day: "wednesday"
    time: "09:00"
    timezone: "Europe/Berlin"
- package-ecosystem: pip
  directory: /ci/scripts
  target-branch: "maintenance"
  schedule:
    interval: weekly
    day: "wednesday"
    time: "09:00"
    timezone: "Europe/Berlin"

