[Unit]
Description=Watch Docker container start events and update monit nft
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/watch-containers.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target